body {
  background-color: #111;
  overflow: hidden;
}

span {
  text-align: center;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 600px;
  margin: 30% auto;
}

nav img {
  color: #fafafa;
  height: 100px;
  margin: auto;
  width: 100px;
}

.background-image {
  background: url('../img/bw_ski_lift_1920_1440.png') no-repeat center center fixed; 
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.name {
  color: #111;
  background: url('../img/bw_ski_lift_1920_1440_light.png') no-repeat center center fixed;
  font-family: helvetica;
  font-size: 12vw;
  font-weight: bolder;
  position: relative;
  margin: 0 auto;
  text-align: center;
  transform: translateY(-65%);
  -webkit-background-clip: text;
  -webkit-filter: invert(90%);
  -webkit-text-fill-color: transparent;
  z-index: 1000;
}

.modal-container {
  background-color: #222;
  color: #fafafa;
  font-size: 8vw;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: visibility 0s, opacity .25s linear;
  visibility: hidden;
  z-index: 2000;
}

.space {
  display: none;
}

.close {
  position: absolute;
  top: 10%;
  right: 10%;
}

.close:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px){
  .rwd-break { display: none; }
  .space { display: inline; }
}

span:hover {
  cursor: pointer;
}